body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}
  
header {
    height: 125px;
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
}
  
  /* Style the DualDice text in the header */
header .navbar-brand {
    font-size: 40px;
    border: 2px solid white;
    padding: 5px 10px;
    align-items: center;
}
  
  /* Style the main content area */
main {
    height: calc(100vh - 155px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  /* Style the dicepart div */
#dicepart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.diceselect-container {
    background-color: #e0dddd;
    border-radius: 10px;
    padding: 20px;
  }
  /* Style the d20 image in the dicepart div */
#dicepart img {
    width: 100%;
}
  
  /* Style the d20-result span in the dicepart div */
#d20-result {
    font-size: 40px;
    font-weight: bold;
}
  
  /* Style the roll button in the dicepart div */
.roll-button {
    margin-top: 20px;
}
  
  /* Style the diceselect div */
#diceselect {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
  
  /* Style the individual dice buttons in the diceselect div */
.d-option {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0.75em 1.5em;
}
  
  /* Style the footer */
footer {
    height: 30px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
  
  /* Style the GitHub link in the footer */
footer a {
    color: white;
}
#center {
    width: 400px; 
    margin: auto; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-style:double
   
}
header .navbar-brand:hover {
    text-decoration: underline;
}

.d-option.on,
.d-option:hover {
    background-color: #555;
    color: white;
}

#actualform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#actualform input[type="text"],
#actualform input[type="password"] {
    display: block;
    margin: 5px auto;
}
  
#actualform input[type="password"] {
    margin-bottom: 0;
}
  
#actualform input[type="submit"] {
    margin-top: 10px;
}

