.navbar-brand:hover{
    text-decoration: underline;
}
#center {
    width: 400px; 
    margin: auto; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-style:double
   
}
#dicepic {
    height: 32%;
}
#form {
    height:60%;
    background-color: lightgray;
    padding: 3%;
    
}
#diceselect {
    height:30%;
    background-color: lightgray;
    display: grid;
    width:80%;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    padding: 3%
}
.d-option {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:rgb(78, 3, 175);
}
.on {
    background-color: rgb(188, 185, 185) !important;
}
.actualpic {
    height: 30vh;
    width: 25vh;
}
header {
    flex: 1 125px;
    padding-top: 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#actualform {
    background-color: rgb(142, 142, 142);
    padding: 1ch;
    border-radius: 10px;
}

button {
    padding-top: 10px;
    background-color: white !important;
}
button:hover {
    background-color: rgb(188, 185, 185) !important;
}
.roll-button{
    height: 60px;
    width: 100px;
}
h1 {
    padding-bottom: 25px;
}
.dice-footer {
    height: 30px;
}
a.text-reset {
    float: right;
}